/* Global */

:root {
    --text-color: #2c3e50;
    --body-background: #f1f4f7;
    --nav-background: #fff;
    --card-background-color:#fcfcfc;
    --border: 1px solid #A9A9A9;
    --large-shadow: 0 6px 9px rgba(0,0,0,.1);
    --small-shadow: 0 2px 4px rgba(0,0,0,.1);
    --strong-color: #2c3e50;

    --calendar-text-color: #fff;
    --calendar-head-background-color:#6b8292;
    --border-calendar: 1px solid #e0e0e0;
    --selected-color: #cbe9ff;
    --calendar-x-color: #333;

    --border-checkbox: 2px solid #555;
    --checkbox-checked: #34a838;
    --checkbox-hover:#7575753f;
    --takeable-color: #8be89c;
    --not-takeable-color: #FFBABA;

    --pagination-button-disabled: #f5f5f5;
    --pagination-button-enabled: #fff;
    
    --logreg-submit-color: #6fc5ff;
    --logreg-submit-text-color:#fff;
    --logreg-submit-hover-color:#50b9ff;
    --logreg-navigate-color: #235aff;
    --delete-and-error-color:  #ff4d4d;
}

.darkMode {
    --text-color: #ecf0f1;
    --body-background: #1a1a1a;
    --nav-background: #2c2c2c;
    --card-background-color: #2c2c2c;
    --border: 1px solid #444;
    --large-shadow: 0 6px 9px rgba(0, 0, 0, .1);
    --small-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    --strong-color:#ecf0f1;

    --calendar-text-color: #ecf0f1;
    --calendar-head-background-color: #4a5a66;
    --border-calendar: 1px solid #444;
    --selected-color: #3a6d8c;
    --calendar-x-color: #333;

    --border-checkbox: 2px solid #888;
    --checkbox-checked: #A4DFAF;
    --checkbox-hover:#6060608e;
    --takeable-color: #2e7d32;
    --not-takeable-color: #bf4040;

    --pagination-button-disabled: #1a1a1a;
    --pagination-button-enabled: #2c2c2c;
    
    --logreg-submit-color: #4a8cbf;
    --logreg-submit-text-color: #e0e0e0;
    --logreg-submit-hover-color: #3a7ca8;
    --logreg-navigate-color: #5c8aff;
    --delete-and-error-color: #ff6b6b;
}

input, a, body .card, tr, #pagination, #selectedArea, nav, .tableCell, nav *, button{
    transition: all .15s ease;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: var(--text-color)
}

a {
    text-decoration: none;
}

button:hover, input[type="submit"]:hover, a:hover, .resource>i:hover, #creditCheck:hover, nav i:hover, .modeToggle:hover{
    cursor: pointer;
    opacity: 70%;
}

body {
    background-color: var(--body-background)
}

.page {
    min-height: 100vh;
    padding: 2rem;
}

nav {
    background-color: var(--nav-background);
    display: flex;
    justify-content: space-around;
    padding: .4rem 0;
    box-shadow: var(--small-shadow)
}

nav > * {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem .6rem;
    border-radius: 4px;
}

.input {
    border: var(--border);
    font-size: .9rem;
    padding: .4rem;
    border-radius: 4px;
    background-color:  var(--card-background-color);
}

.card {
    background-color: var(--card-background-color);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--large-shadow);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.borderedCard {
    border: var(--border)
}

.card p {
    margin-bottom: .7rem;
    line-height: 1.6;
}

.card strong {
    margin-right: 6px;
    font-weight: 600;
    color: var(--strong-color)
}

.modeToggle input {
    display: none;
}

.modeToggle{
    position: absolute;
    right: 1.2rem;
    top: .7rem;
}

@media (max-width: 650px) {
    .modeToggle {
        top: 3rem;
    }
}

/* Calendar */

#calendar, #selectedArea {
    height: 36rem;
}

#selectedArea button {
    margin-right: .5rem;
}

#calendar {
    user-select: none;
    border-spacing: 0;
    width: 69%;
    margin-right: 1vw;
    border-radius: 8px;
    box-shadow: var(--large-shadow);
    overflow: hidden;
}

#selectedArea {
    width: 30%;
    overflow-y: auto;
}


.top {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .top {
        flex-direction: column;
        align-items: center;

    }
    #selectedArea {
        width: 80vw;
        margin-top: 1rem;
        height: auto;
    }
    #calendar {
        height: 30rem;
    }
}



#calendar th, #calendar td {
    padding: .8rem;
    text-align: center;
    vertical-align: top;
    width: 20%;
}

#topCalendarHead th:nth-child(1) {
    border-radius: 0 8px 0 0;
}

#topCalendarHead th:nth-child(2) { 
    border-radius: 8px 0 0 0;
}

#calendarSelect {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
}

.calendarOption {
    display: flex;
    background-color: transparent;
    border: none;
    color: var(--calendar-text-color)
}

.calendarOption i {
    margin-left: .6rem;
    margin-top: .08rem;
}

.calendarOption p {
    margin-left: 2rem;
}

#addCalendarForm input,#cancelCalendarAdd  {
    border: var(--border)
}

#cancelCalendarAdd i {
    color: var(--calendar-x-color)
}

#addCalendarForm input {
    width: 6rem;
}

#addCalendarSubmit {
    margin-left: .2rem;
    color: var(--calendar-text-color);
    border: none;
    background-color: transparent;
}

.calendarOption > * {
    color: var(--calendar-text-color);
}

#calendar th {
    text-transform: capitalize;
}

#calendar th, #calendarSelect {
    color: var(--calendar-text-color);
    background-color: var(--calendar-head-background-color);
}

#calendar th:nth-child(1) {
    border-right: var(--border-calendar)
}

#calendar th:nth-child(2) {
    border-left: var(--border-calendar)
}


#calendar td {
    border-inline: var(--border-calendar);
    background-color:  var(--card-background-color);
}

.tableCell:hover {
    background-color: var(--selected-color);
    cursor: pointer;
}




.tableCell {
    border-radius: 5px;
    padding: .6rem;
    margin: .4rem 0;
    box-shadow: var(--small-shadow);
    position: relative;
}

/* dragging */


.drag {
    position: absolute;
    right:.03rem;  
    top:.36rem; 
    padding: .2rem;
    opacity: 70%;  
    cursor: grab;
}
    
/* Prerequisites */

.seasonDiv {
    margin-top: 2rem;
}

.seasonRow {
    margin-top: .5rem;
    display: flex;
    overflow-x: auto;
}

.coursePrereq {
    margin-right: 1rem;
    width: 16rem;
    max-height: 13.2rem;
    flex-shrink: 0;
    overflow-y: auto;
}

.takeable {
    background-color:var(--takeable-color)
}

.notTakeable {
    background-color:var(--not-takeable-color)
}

.coursePrereq h3 {
    text-align: center;
    padding-bottom: .5rem;
}

.checkboxLabel {
    border-radius: 4px;
    display: flex;
    margin: .2rem 0;
    padding: .4rem;
    font-size: 0.9em;
    cursor: pointer;
    transition: all .3s ease;
}
.checkboxLabel:hover {
    background-color: var(--checkbox-hover)
}

.checkboxLabel input {
    margin-right: 8px;
    appearance: none;
    min-width: 18px;
    height: 18px;
    border: var(--border-checkbox);
    border-radius: 3px;
}

.checkboxLabel input:checked {
    background-color: var(--checkbox-checked);
    border-color: var(--checkbox-checked);
}
/* Course search */

#courseSearch {
    margin: 1.5rem .5rem 1rem 0rem;
    width: 40vw;
}

#searchHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInSlideUp {
    from { 
        opacity: 0;
        transform: translateY(20px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

.courseItem {
    width: 90vw;
    margin-top: 1rem;
    animation: fadeInSlideUp 0.3s ease-out;
}

.courseBottom {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.selection {
    background-color: var(--selected-color);
}

.courseBottom select {
    height: 1.9rem;
}

.courseBottom button, .courseBottom select, .courseMessage{
    margin-right: .4rem;
}

#pagination {
    margin-top: 1rem;
    display: flex;
    position: sticky;
    bottom: 1rem;
    padding: .5rem;
    margin-bottom: -1rem;
    background-color: rgba(var(--card-background-color) 0.5);  /* Semi-transparent white background */
    backdrop-filter: blur(5px);  /* This creates the blur effect */

}

#pagination button {
    font-weight: 500;
    border: none;
    border-radius: 100%;
    background-color: var(--pagination-button-enabled);
    box-shadow: var(--large-shadow);
    width: 2rem;
    height: 2rem;
    margin: 0 .2rem;
}

#pagination button:disabled {
    background-color: var(--pagination-button-disabled)
}

#pagination button:disabled:hover{
    opacity: 100%;
}

#pagination .current {
    opacity: 100%;
    background-color: var(--selected-color)
}

/* Login and Registration */

.logregPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logregForm {
    display: flex;
    flex-direction: column;
}

.logregNav {
    border: none;
    background: none;
    font-size: 1rem;
}

.logregNav {
    color: var(--logreg-navigate-color)
}

.logregNav:hover {
    cursor: pointer;
}

.logregCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 23rem;
    height: 24rem;
}

.logregCard p {
    margin: 0;
}

.guestLogin, .logregForm input, .logregForm button {
    width: 16rem;
}

.guestLogin {
    margin: 1rem;
}

.logregForm button {
    color: var(--logreg-submit-text-color);
    background-color: var(--logreg-submit-color);
    margin-bottom: .5rem;
}

.logregForm button:hover {
    background-color: var(--logreg-submit-hover-color)
}

.logregForm input {
    margin-bottom: 1rem;
}

.error {
    color: var(--delete-and-error-color)
}

/* RESOURCE */

.resourceHeading button, .resourceHeading select, .resourceHeading h1 {
    margin-right: 1rem;
}

.resourceHeading button {
    height: 2.13rem;
}

.resourceHeading {
    display: flex;
    align-items: center;
}

.resources {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.resourceDescription {
    margin-top: .8rem;
}

.resource {
    position: relative;
    display: flex;
    flex-direction: column;
}

.resourceTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.deleteResource {
    top: .1rem;
    right: -.3rem;
}

.editResource {
    top: -0.4rem;
    right: 1rem;
}

.deleteResource, .editResource {
    padding: 0.5rem;
    position: absolute;
}

.resourceAddPanel {
    width: 90%;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.resourceAddPanel h2 {
    margin-bottom: 1rem;
}

.resourceAddText {
    width: 100%;
    margin-bottom: 1rem;
}

.labelSelectArea {
    display: flex;
    flex-direction: row;
}

.labelSelectArea select {
    width: 40%;
}

.labelTitleContainer {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;
}

.deleteButton {
    background-color: var(--delete-and-error-color);
    color: white;
}

.loginto {
    margin-right: 1rem;
}

#addResourceSubmit {
    margin-right: 0.5rem;
}